In [1]:
import pandas as pd

In [2]:
list1=[['09:00:00',10,'a'],['09:01:00',15,'a'],['09:02:00',17,'b'],['09:03:00',19,'c'],['09:03:00',33,'c']]
df1=pd.DataFrame(list1)
#print(df1)
df1

          0   1  2
0  09:00:00  10  a
1  09:01:00  15  a
2  09:02:00  17  b
3  09:03:00  19  c
4  09:03:00  33  c

### 設定索引的方法一:
若沒有寫 ``inplace=True`` 則會回傳一個新的DataFrame 但原本的不會改變

In [3]:
df2=df1[:]
df1.set_index(df1[:][0],inplace=True)
df1

                 0   1  2
0
09:00:00  09:00:00  10  a
09:01:00  09:01:00  15  a
09:02:00  09:02:00  17  b
09:03:00  09:03:00  19  c
09:03:00  09:03:00  33  c

### 設定索引的方法二:

In [4]:
print(df2)
df2.index=df1[:][0]
print('-'*20)
print(df2)

          0   1  2
0  09:00:00  10  a
1  09:01:00  15  a
2  09:02:00  17  b
3  09:03:00  19  c
4  09:03:00  33  c
--------------------
                 0   1  2
0
09:00:00  09:00:00  10  a
09:01:00  09:01:00  15  a
09:02:00  09:02:00  17  b
09:03:00  09:03:00  19  c
09:03:00  09:03:00  33  c

### 若出現相同索引將會一起取出

In [5]:
#print(df1.loc['09:03:00'])
df1.loc['09:03:00']

                 0   1  2
0
09:03:00  09:03:00  19  c
09:03:00  09:03:00  33  c

### 重置索引:

In [6]:
df1.reset_index(drop=True,inplace=True)
df1

          0   1  2
0  09:00:00  10  a
1  09:01:00  15  a
2  09:02:00  17  b
3  09:03:00  19  c
4  09:03:00  33  c

### 設置複合索引:

In [7]:
df1.set_index(keys = [df1[:][0],df1[:][2]],inplace=True)
df1

                   0   1  2
0        2
09:00:00 a  09:00:00  10  a
09:01:00 a  09:01:00  15  a
09:02:00 b  09:02:00  17  b
09:03:00 c  09:03:00  19  c
         c  09:03:00  33  c

### 複合索引取值:

In [8]:
df1.index.names=['No1','No2']  #索引設定名稱
print(df1)
print('-'*20)
print(df1.query("No1=='09:01:00'"))
print('-'*20)
print(df1.query("No2=='c'"))
print('-'*20)
df1.query("No2=='a'" and "No1=='09:01:00'")

                     0   1  2
No1      No2
09:00:00 a    09:00:00  10  a
09:01:00 a    09:01:00  15  a
09:02:00 b    09:02:00  17  b
09:03:00 c    09:03:00  19  c
         c    09:03:00  33  c
--------------------
                     0   1  2
No1      No2
09:01:00 a    09:01:00  15  a
--------------------
                     0   1  2
No1      No2
09:03:00 c    09:03:00  19  c
         c    09:03:00  33  c
--------------------

                     0   1  2
No1      No2
09:01:00 a    09:01:00  15  a

#### 複合索引取值補充作法

In [9]:
f = df1.index.get_level_values
df1.loc[(f(0) == '09:01:00')] #多條件用'&'連結

                     0   1  2
No1      No2
09:01:00 a    09:01:00  15  a

### 複合索引設為無名稱 透過`ilevel_*`取值:

In [10]:
df1.rename_axis([None, None]).query("ilevel_0 == '09:00:00'")

                   0   1  2
09:00:00 a  09:00:00  10  a